{% extends 'base.html.twig' %}

{% block body %}
    {% set ruta = app.request.get('_route') %}
    {% block navbar %}
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Desplegar barra de navegación</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('inicio') }}">Importacion de datos</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li{% if ruta == 'inicio' %} class="active"{% endif %}><a href="{{ path('inicio') }}"><i class="fa fa-home"></i> Inicio</a></li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Alumnos <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li{% if ruta == 'creacion_alumnos' %} class="active"{% endif %}><a href="{{ path('creacion_alumnos') }}"><i class="fa fa-user"></i> Añadir alumnos</a></li>
                                <li{% if ruta == 'subida_alumno' %} class="active"{% endif %}><a href="{{ path('subida alumno') }}"><i class="fa fa-file"></i> Añadir desde fichero</a></li>
                                <li{% if ruta == 'listado_alumnos' %} class="active"{% endif %}><a href="{{ path('listado_alumnos') }}"><i class="fa fa-list"></i> Listado alumnos</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Managers <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li{% if ruta == 'creacion_manager' %} class="active"{% endif %}><a href="{{ path('creacion_manager') }}"><i class="fa fa-euro"></i> Añadir managers</a></li>
                                <li{% if ruta == 'subida_manager' %} class="active"{% endif %}><a href="{{ path('subida manager') }}"><i class="fa fa-file"></i> Añadir desde fichero</a></li>
                                <li{% if ruta == 'listado_manager' %} class="active"{% endif %}><a href="{{ path('listado_managers') }}"><i class="fa fa-list"></i> Listado managers</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if app.user %}
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> {{ app.user.loginUsername }} <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#"><i class="fa fa-user"></i> Mi perfil</a></li>
                                    <li><a href="{{ path('password_propia') }}"><i class="fa fa-key"></i> Cambiar contraseña</a></li>
                                </ul>
                            </li>
                            <li><a href="{{ path('usuario_salir') }}"><i class="fa fa-sign-out"></i> - Salir</a></li>
                        {% else %}
                            <li><a href="{{ path('usuario_entrar') }}"><i class="fa fa-sign-in"></i> Entrar</a></li>
                        {% endif %}
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
    {% endblock %}
    <div class="container">
        {% for mensaje in app.flashes('exito') %}
            <div class="alert alert-success">
                {{ mensaje }}
            </div>
        {% endfor %}
        {% for mensaje in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ mensaje }}
            </div>
        {% endfor %}
        {% block content %}{% endblock %}
    </div>
{% endblock %}